.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.SearchPatient{
    width: 90%;
    margin: auto auto 50px;
}

.react-search-field{
    width: 100%;
}

.ViewRequests{
    width:55%;
    margin-bottom: 30px;
}

.cSymbol{
    display: flex;
    flex-wrap: wrap;
}

.Count{
    width: 40%;
}

.CardCount{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    margin-bottom: 50px;
}

.cardSize{
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.myIcon{
    width: 35%;
    height: 100%;
    background: #282c34;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}

.imgIcon{
    font-size: 50px;
    color: white;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

.stats{
    margin-left: 20px;
}

.number{
    font-family: 'poppins';
    font-size: 35px;
}

.entity{
    display: flex;
    font-size: 20px;
    font-family: 'roboto';
}

.cardValues{
    display: flex;
    paddingLeft: 23px;
}